# Core Scientific Python
numpy
scipy
pandas

# Machine Learning
torch
xgboost
scikit-learn

# Experimentation & Configuration
trackio
pydantic
PyYAML

# Plotting
matplotlib
scienceplots
seaborn

# Time-Series Analysis
statsmodels

# Logging
loguru

# Other Utilities
tqdm 
jupyter 
jupyterlab

# Testing and Development
pytest
black
flake8